<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026069048751-0kb80rqgags4ao7qvocj2c92lc5gqfq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026069048751-0kb80rqgags4ao7qvocj2c92lc5gqfq2</string>
	<key>API_KEY</key>
	<string>AIzaSyDwEad4tP2Be1wMVRW49e74q35jKOagqjk</string>
	<key>GCM_SENDER_ID</key>
	<string>1026069048751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyc.GoAbroad</string>
	<key>PROJECT_ID</key>
	<string>go-abroad-ba5c7</string>
	<key>STORAGE_BUCKET</key>
	<string>go-abroad-ba5c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026069048751:ios:edb88c2002bd7bc152535a</string>
	<key>DATABASE_URL</key>
	<string>https://go-abroad-ba5c7.firebaseio.com</string>
</dict>
</plist>